<% content_for :subheader do %>
  <%= render 'slider' %>
<% end %>

<div class="container">
  <% if @featured_products %>
    <div id="featured-products" class="row">
      <ul>
        <% @featured_products.each do |product| %>
          <%= render 'product', :product => product %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>